<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/password.css' %}">
    <title>You've Got a Secret Message!</title>
</head>
<body>
    <div class="main" id="main" method="POST" enctype="multipart/form-data">
        <div class="passDiv">
            <img id="showOrHide"
                 data-show-src="{% static 'images/icons8-show-password-50.png' %}"
                 data-hide-src="{% static 'images/icons8-closed-eye-50.png' %}"
                 src="{% static 'images/icons8-closed-eye-50.png' %}"
                 onclick="showPassword()" alt="Show/Hide Password">
            <input type="password" name="password" id="password" placeholder="Enter password" required>
        </div>
        <input type="submit" id="submit" value="Cheack Message">
    </div>

    <div class="messageDiv" id="messageDiv">
        <div class="timeBar" id="timeBar"></div>
        <div class="info">
            <h3>Info:</h3>
            <p id="totalView">Total Views: 0</p>
            <p id="viewTime">Total View Time: 0s</p>
        </div>
        <div class="messagebox">
            <div class="messageHeading"><h3>Message:</h3></div>
            <div class="messageText">
                <p id="messageText"></p>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/password.js' %}" ></script>
    <script src="{% static 'js/showMessage.js' %}" ></script>
</body>
</html>